.card img {
  position: relataive;
  width: auto; height: 125px; 
  margin-right: 5px auto;
  margin-left: 5px auto;
  margin-top: 5px auto;
}



.card-footer {
background-color:#FFF; background-color: rgba( 255, 255, 255, 0.0 );

width: 100%;
}

.item-name {
  text-align: left;
}

.text-right:not() {
  text-align: center;
}

.card:hover {
  background: #b2b2b21c;
}

.card-body {
  overflow: hidden;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-footer {
  bottom: 0;
  width: 100%;
  text-align: center !important;
}

@media (min-width: 270px) {
  .card-deck {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
}

.card-group .card {
  max-width: 25%;
}
.card-deck .card {
  max-width: calc(25% - 30px);
}