.card-img {
  max-width: 125px !important;
  max-height: 125px !important;
  margin: 15px auto 0;
}

.item-name {
  text-align: left;
}

.text-right:not() {
  text-align: center;
}

.card {
  max-width: 125px !important;
  max-height: 300px !important;
}

.card:hover {
  background: #b2b2b21c;
}

.card-body {
  overflow: hidden;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-footer {
  bottom: 0;
  width: 100%;
  text-align: center !important;
}

.card-deck .card {
  max-width: 17% !important;;
}